.login_formulaire {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 50%;
    margin: auto;
    padding: 14%;
    
    h2{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 10%;
        gap: 15px;
        font-family: "Syne"; 
        
        input {
            height: 50px;
            border: none;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        }

        #submit {
            border-radius: 50px;
            width: 50%;
            margin: auto;
            margin-bottom: 10px;
            box-shadow: none;
            background-color: transparent;
            color: #FFF;    
            font-family: "Syne";
            font-weight: 700;
            // cursor: not-allowed;
            &.active {
                background-color: #1d6154; 
                color: white; 
                cursor: pointer;
              }
            
        }
        
    }
   
}

.error {
    box-shadow: 0px 0px 14px 3px red !important;
}