/* Modal */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 50px);
  width: 630px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  overflow: auto;
  z-index: 2;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#editGallery .modalHeader {
  justify-content: flex-end;
}
.modal i {
  display: block;
  font-size: 1.5em;
  border-bottom: 10px;
}
.modalTitle {
  font-size: 26px;
  margin-bottom: 47px;
}
.modalContent {
  width: 70%;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 47px;
}

.frameOneModal {
  display: flex;
  flex-wrap: wrap;
  // gap: 15px;

  article {
    

    img {
      width: 100px;
    }
  }
}
#editGallery .modalContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 10px;
}
#addPictureBtn {
  width: auto;
  padding: 10px 49px;
}
#deleteGallery {
  color: #d65353;
}
.miniWork figcaption {
  font-size: 12px;
}
.miniWork {
  position: relative;
}
.miniWork i {
  display: block;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.7em;
  padding: 4px 5px;
  border-radius: 2px;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
}
#addPicture {
  display: none;
}
#addPicture .modalHeader {
  justify-content: space-between;
}
#valider {
  width: 37%;
  margin: auto;
  border-radius: 20px;
  padding: 2px;
  background-color: #1D6154;
  color: white;
  font-family: "Syne";
}
#addPictureForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
#labelPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: #e8f1f6;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 25px;
  position: relative;
  box-sizing: border-box;
}

#labelPhoto p {
  font-size: 10px;
  font-weight: 400;
}
#picture {
  margin-bottom: 27px;
  width: 5.1em;
}

#browsePictures {
  font-family: "Work Sans";
  font-size: 1em;
  font-weight: 600;
  color: #3d3d3d;
  width: fit-content;
}
#browsePictures {
  color: #306685;
  background-color: #cbd6dc;
  border: none;
  padding: 10px 33px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}
#title {
  margin-bottom: 11px;
}
select {
  background-origin: content-box;
  padding-right: 20px;
  padding-left: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.modalContent .gallery-item {
    position: relative;
   
}

.modalContent .gallery-item img {
    height: auto;
}

.modalContent .delete-icon {
    position: absolute;
    top: 5px;
    right: 0px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    color: white;
	
}

.popup {
  display: none; /* Caché par défaut */
  position: fixed; /* Positionné par rapport à la fenêtre du navigateur */
  top: 50%; /* Centré verticalement */
  left: 50%; /* Centré horizontalement */
  transform: translate(-50%, -50%); /* Centre le popup en utilisant la transformation */
  background-color: white; /* Couleur de fond blanche */
  padding: 20px; /* Espacement intérieur */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour du popup */
  z-index: 10; /* Assurez-vous qu'il est au-dessus de la modal */
}

/* Style pour le contenu du popup */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style pour les boutons du popup */
.popup-content button {
  margin: 5px;
}

.confirmButton {
  
  padding-top: 10px;
}
#successMessage{
  display: none;
  position: fixed;
  top: 10%;
  right: 10%;
  background-color: #33a18d;
  padding: 8px;
  color: white;
  border-radius: 10px;
  z-index: 15;
}


.error{
  color: red;
   display: none;
   position: fixed;
   top: 10%;
   right: 5%;
   padding: 8px;
   border-radius: 10px;
   z-index: 15;
   background-color: white;
   font-weight: bold;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  gap: 15%;
}
