@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #FFFEF8;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
h1 span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li:hover {
  color: #b1663c;
}
nav li a:hover {
  color: #b1663c;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

.mesProjets {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mesProjets i {
  padding-right: 5px;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

.filtres {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 50px 0;
}

.filtres button {
  font-family: "Work Sans";
  font-weight: 500;
  margin-left: 10px;
  border: 1px solid #1D6154;
  border-radius: 60px;
  font-size: 1.15em;
  color: #1D6154;
  background-color: white;
  padding: 7px 15px;
}

.filtres button.active {
  background-color: #1D6154;
  color: white;
}

.modeEdition {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: #000;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100vw;
}
.modeEdition i {
  margin-right: 10px;
}

.adminOnly {
  display: none;
}

.login_formulaire {
  width: 50%;
  margin: auto;
  padding: 15%;
}
.login_formulaire h2 {
  text-align: center;
}
.login_formulaire form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 10%;
  gap: 15px;
  font-family: "Syne";
}
.login_formulaire form input {
  height: 50px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.error {
  box-shadow: 0px 0px 14px 3px red !important;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Modal */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 630px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  overflow: auto;
  z-index: 2;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#editGallery .modalHeader {
  justify-content: flex-end;
}

.modal i {
  display: block;
  font-size: 1.5em;
  border-bottom: 10px;
}

.modalTitle {
  font-size: 26px;
  margin-bottom: 47px;
}

.modalContent {
  width: 70%;
  padding-bottom: 47px;
}

.frameOneModal {
  display: flex;
  flex-wrap: wrap;
}
.frameOneModal article img {
  width: 100px;
}

#editGallery .modalContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  width: auto;
  border-bottom: 1px solid #b3b3b3;
}

#addPictureBtn {
  width: auto;
  font-family: "Syne";
  padding: 10px 49px;
  margin-top: 25px;
  border-radius: 60px;
  background: #1d6154;
  color: white;
  border: 0px;
}

#deleteGallery {
  color: #d65353;
}

#addPicture {
  display: none;
}
#addPicture .modalHeader {
  justify-content: space-between;
}

#valider {
  width: 45%;
  margin: auto;
  padding: 15px;
  font-family: "Syne";
  border-radius: 60px;
  background: #1d6154;
  color: white;
  border: 0px;
}

#addPictureForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#labelPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: #e8f1f6;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 25px;
  position: relative;
  box-sizing: border-box;
}
#labelPhoto p {
  font-size: 10px;
  font-weight: 400;
}

#picture {
  margin-bottom: 27px;
  width: 5.1em;
}

#browsePictures {
  color: #306685;
  background-color: #cbd6dc;
  padding: 10px 33px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
}

.titleInput {
  margin-left: 10px;
  font-size: 16px;
}

.dataInput {
  margin: auto;
  width: 420px;
  height: 51px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

select {
  background-origin: content-box;
  padding-right: 20px;
  padding-left: 8px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

#photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modalContent .gallery-item {
  position: relative;
}
.modalContent img {
  height: auto;
}

.modalContent .delete-icon {
  position: absolute;
  top: 5px;
  right: 0px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.popup {
  display: none; /* Caché par défaut */
  position: fixed; /* Positionné par rapport à la fenêtre du navigateur */
  top: 50%; /* Centré verticalement */
  left: 50%; /* Centré horizontalement */
  transform: translate(-50%, -50%); /* Centre le popup en utilisant la transformation */
  background-color: white; /* Couleur de fond blanche */
  padding: 20px; /* Espacement intérieur */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre autour du popup */
  z-index: 10; /* Assurez-vous qu'il est au-dessus de la modal */
}

/* Style pour le contenu du popup */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-content button {
  margin: 5px;
  cursor: pointer;
}

#confirmDelete {
  background-color: red;
  border-radius: 5px;
  padding: 9px;
  color: white;
  border: none;
}

#cancelDelete {
  background-color: green;
  border-radius: 5px;
  padding: 9px;
  color: white;
  border: none;
}

.confirmButton {
  padding-top: 10px;
}

#successMessage {
  display: none;
  position: fixed;
  top: 10%;
  right: 10%;
  background-color: #33a18d;
  padding: 8px;
  color: white;
  border-radius: 10px;
  z-index: 15;
}

.error {
  color: red;
  display: none;
  position: fixed;
  top: 10%;
  right: 5%;
  padding: 8px;
  border-radius: 10px;
  z-index: 15;
  background-color: white;
  font-weight: bold;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  gap: 15%;
}/*# sourceMappingURL=style.css.map */